body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contBtn {
    display: flex;
    justify-content: center;
}

.onglets {
    width: 250px;
    height: 50px;
    background-color: midnightblue;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #333;
}

.container {
    width: 500px;
    height: 500px;
    text-align: justify;
    border: 1px solid #333;
    border-top: none;
}

.container p {
    padding: 40px;
    margin: 0;
}

.active {
    background: rgb(248,248,248);
    color: #333;
}